TAG=0.0
VPN_SERVER_IP=
VPN_IPSEC_PSK=
VPN_USER=
VPN_PASSWORD=
DEFAULT_GW=192.168.0.1
MAIN_NETIF=eth0
PPP_NETIF=ppp0
DNS1=8.8.8.8
DNS2=8.8.4.4
CONNECTON_POLLING=30
#SHAPE_NET1=192.168.0.0/24
#SHAPE_SPEED1=300
#SHAPE_NET2=192.168.0.100/32
#SHAPE_SPEED2=10
PRINT_INFO=false
PRINT_DEBUG=false
